<mat-form-field appearance="outline" class="full-width-table">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" #filterInput
    [value]="filterString?.length > 0 ? filterString : ''">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">


    <!-- Id Column -->
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef>S.No</th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="customer.firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.customer.firstName}} {{row.customer.lastName}}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="customer.phoneNumer">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let row">{{row.customer.phoneNumber}}</td>
    </ng-container>

    <!-- Paid Column -->
    <ng-container matColumnDef="billing.status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Paid</th>
      <td mat-cell *matCellDef="let row">{{row.billing.status | paidStatus}}</td>
    </ng-container>

    <!-- Delivered Column -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delivered</th>
      <td mat-cell *matCellDef="let row">{{row.completed | yesNo}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date | date }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button routerLink="/record/{{row.uid+row.date}}">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button routerLink="/add-measurements/{{row.uid+row.date}}">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data.-->
    <ng-container *ngIf="filterString; else loader">
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter
          "{{filterInput.value}}"
        </td>
      </tr>
    </ng-container>
    <ng-template #loader>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          <kt-please-wait [notitle]="true"></kt-please-wait>
        </td>
    </ng-template>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[5, 25, 50, 100, 250]">
  </mat-paginator>
</div>