<aside *ngIf="processing">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
</aside>
<div *ngIf="!processing">

    <h1 class="themed-text">Account Recovery</h1>
    <form [formGroup]="resetForm" (submit)="submit()">
        <mat-form-field appearance="outline">
            <input matInput type="text" placeholder="E-mail address" required formControlName="email">
        </mat-form-field>

        <button mat-raised-button color="primary">Send</button>
    </form>
</div>