<form [formGroup]="updatePassword">
    <mat-form-field appearance="outline">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" required formControlName="currentPassword">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput type="password" required formControlName="newPassword">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" required formControlName="confirmPassword">
    </mat-form-field>

    <button mat-raised-button color="primary" mat-dialog-close (click)="close()" >Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()">Update</button>
</form>

