.mat-expansion-panel {
    border-radius: 0px;
}

.row {
    display: flex;
    flex-direction: row;

    .col {
        display: flex;
    }
}

// @media print{
//     :not(.toPrint){
//         display: none;
//     }

//     .toPrint{
//         display: block;
//     }
// }