.p-4 {
    padding: 2rem;
}

.mat-expansion-panel {
    border-radius: 0px;
}

.measurement {
    display: flex;
    flex-wrap: wrap;
    .mat-list-item {
        flex-basis: 50%;
    }
}
.brand-label .mat-card {
    border-radius: 4px 4px 0px 0px;
    padding: 16px 24px;
    .mat-card-header,
    .mat-divider {
        display: none;
    }
    .float-phone {
        position: absolute;
        top: 16px;
        right: 24px;
        height: 32px;
        line-height: 32px;
        display: none;
    }
    .mat-card-content {
        padding: 0px 16px;
        div {
            width: 50%;
            height: 48px;
            line-height: 48px;
        }
    }
}
div.not-print {
    display: flex;
    padding-bottom: 1rem;
    span {
        flex: 1;
    }
    button {
        &:not(:first-child) {
            margin-left: 16px;
        }
    }
}
.toggle-tailer {
    display: none;
}
div.cut-out {
    display: none;
    position: relative;
    border-bottom: 2px dashed black;
    margin: 2rem 0px;
    .mat-icon {
        position: absolute;
        top: -10px;
    }
}
@media print {
    // .prt-sc.printing {
    .prt-sc {
        div.not-print {
            display: none;
        }
        .brand-label .mat-card {
            .mat-card-header,
            .mat-divider,
            .float-phone {
                display: block;
            }
            .mat-card-content {
                padding-top: 16px !important;
                div {
                    height: 28px;
                    line-height: 28px;
                }
            }
        }
        .print {
            .mat-expansion-panel:not(.mat-expanded) {
                display: none;
            }

            .mat-list-base {
                padding: 0px;
            }

            .mat-list .mat-list-item {
                height: 28px !important;
            }
        }
        ::ng-deep .print .mat-expansion-indicator {
            display: none;
        }
    }

    .prt-sc.printing-4-customer {
        #for-tailor {
            display: none;
        }
    }

    .prt-sc.printing-4-tailor {
        .for-customer {
            display: none;
        }

        .toggle-tailer {
            display: block;
        }
    }

    .prt-sc.printing-both {
        div.cut-out {
            display: block;
        }
        .toggle-tailer {
            display: block;
        }
    }
}
