<form [formGroup]="menMeasurementForm" (submit)="submit()">
    <mat-form-field>
        <input matInput type="number" placeholder="Neck" required formControlName="neck">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Chest" required formControlName="chest">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Waist" required formControlName="waist">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Seat" required formControlName="seat">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Shirt Length" required formControlName="shirtLength">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Shoulder Width" required formControlName="shoulderWidth">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Arm Length" required formControlName="armLength">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Wrist" required formControlName="wrist">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Hip Measurement(for the bottom)" required
            formControlName="hipMeasurement">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Seat Measurement(for the bottom)" required
            formControlName="seatMeasurement">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Inseam" required formControlName="inseam">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Hip" required formControlName="hip">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>