@font-face {
  font-family: "ProductSans";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url(./assets/fonts/ProductSansRegular.ttf);
}

@font-face {
  font-family: "ProductSansBold";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(./assets/fonts/ProductSansBold.ttf);
}
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";

@include mat-core();

// $mat-kt : (500: #6a1b9a,
// contrast: (500: $light-primary-text));
$kt-primary: mat-palette($mat-purple, 800, 600, 900);
$kt-primary-dark: mat-palette($mat-purple, 400, 200, 600);
$kt-accent: mat-palette($mat-amber);

// The warn palette is optional (defaults to red).
$kt-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$kt-theme: mat-light-theme($kt-primary, $kt-accent, $kt-warn);

@include angular-material-theme($kt-theme);

$dark-theme: mat-dark-theme($kt-primary-dark, $kt-accent, $kt-warn);

$kt-typography: mat-typography-config(
  $font-family: '"ProductSans", Arial, Helvetica, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($kt-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($kt-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($kt-typography);

.kt-dark-theme {
  @include angular-material-theme($dark-theme);
}

.bg-primary {
  background-color: mat-color(map-get($kt-theme, primary));
  color: $light-primary-text;
}
.kt-dark-theme .bg-primary {
  background-color: mat-color(map-get($dark-theme, primary));
  color: $dark-primary-text;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: "ProductSans", Arial, Helvetica, sans-serif;
  background-color: #eee;
}
h1, h2, h3, h4, h5, h6, b {
  font-family: "ProductSansBold", Arial, Helvetica, sans-serif;
}
body.kt-dark-theme {
  background-color: #333;
}
.kt-dark-theme .themed-text {
  color: #eee;
}
